body
{
  text-align: center;
  
}
.chartdisp
{
  height: 500px;
  width: 98%;
}
.bargraph1
{
  background-color: pink;

}
.graphcontain
{
  padding: 20px;
}
.linegraph1
{
  background-color: pink;
}
.scatterplot1
{
  background-color: pink;
}
.piechart1
{
  background-color: pink;
}
